{{define "post/new.html"}}
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Post - New</title>

    <!-- Bootstrap Core CSS -->
    <link href="/static/libs/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="/static/css/blog-post.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- jQuery -->
    <script src="/static/libs/jquery/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="/static/libs/bootstrap/js/bootstrap.min.js"></script>

    <!-- font awesome -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" />
    <!-- simplemde -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css" />
    <script src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>

    <!-- code syntax highlighting -->
    <script src="https://cdn.jsdelivr.net/highlight.js/latest/highlight.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/highlight.js/latest/styles/github.min.css" />

    <!-- x-editable (bootstrap version) -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/bootstrap3-editable/css/bootstrap-editable.css" rel="stylesheet"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/bootstrap3-editable/js/bootstrap-editable.min.js"></script>

    <!-- bootstrap fileinput-->
    <link rel="stylesheet" href="/static/libs/bootstrap-fileinput/css/fileinput.min.css">
    <script src="/static/libs/bootstrap-fileinput/js/fileinput.min.js"></script>

    <!-- InlineAttachment -->
    <script src="/static/libs/InlineAttachment/inline-attachment.js"></script>
    <script src="/static/libs/InlineAttachment/codemirror-4.inline-attachment.js"></script>

    <script>
        var simplemde;
        $(document).ready(function () {
            simplemde = new SimpleMDE({
                element: document.getElementById("demo"),
                autofocus: false,
                forceSync: true,
                hideIcons: ["guide"],
                indentWithTabs: false,
                tabSize: 4,
                spellChecker: false,
                renderingConfig: {
                    singleLineBreaks: true,
                    codeSyntaxHighlighting: true,
                },
                showIcons: ["code"],
                status: false,
            });

            initFileInput("file-Portrait", "/admin/upload");

            $('#postSave').click(function(event){
                event.preventDefault();
                $("#demo").text(simplemde.value());
                var tags = new Array();
                $(".tagButton .tagId").each(function(index,element){
                    tags.push($(element).text());
                });
                $("#tags").val(tags.join(","));
                $("#postForm").submit();
            });

            $('#addTag').editable({
                mode: "inline",
                type: "text",
                pk: 1,
                url: "/admin/new_tag",
                placeholder: "add a tag",
                success: function (tag) {
                    createButton(tag.data.ID, tag.data.Name);
                },
                error: function (e) {
                    console.log(e);
                },
                display: function (value, response) {
                    return false;   //disable this method
                }
            });

        });

        function deleteTag(element){
            $(element).parent().remove();
        }

        function createButton(tagId, tagName) {
            var button = `<button class="btn btn-default btn-sm tagButton">
                    <a href="/tag/` + tagId + `">` + tagName + `</a>
                    <a class="removeArticleTag" href="#" onclick="deleteTag(this);">
                        <span class="glyphicon glyphicon glyphicon-trash"></span>
                    </a>
                    <span class="tagId" hidden="hidden">` + tagId + `</span>
                    </button>&nbsp;`;
            $("#addTag").before(button);
        }

        //初始化fileinput控件（第一次初始化）
        function initFileInput(ctrlName, uploadUrl) {
            var control = $('#' + ctrlName);
            control.fileinput({
                language: 'zh', //设置语言
                uploadUrl: uploadUrl, //上传的地址
                allowedFileExtensions : ['jpg', 'png','gif'],//接收的文件后缀
                showUpload: false, //是否显示上传按钮
                showCaption: false,//是否显示标题
                maxFileCount:1,
                browseClass: "btn btn-primary", //按钮样式
                previewFileIcon: "<i class='glyphicon glyphicon-king'></i>",
            }).on("fileuploaded", function(event, data) {
                console.log(data.response);
                if(data.response.succeed) {
                    pos = simplemde.codemirror.getCursor();
                    simplemde.codemirror.setSelection(pos, pos);
                    simplemde.codemirror.replaceSelection('![]('+data.response.url+')');
                }else{
                    alert(data.response.message);
                }
            });
        }

        function show() {
            $("#mymodal").modal();
        }
    </script>

</head>

<body>

{{template "navigation.html"}}

<div class="container">

    <div class="col-sm-offset-1 col-sm-10">

        <!-- add a new tag -->
        <span id="tagBug">
            <span style="border: none" id="addTag" class="glyphicon glyphicon-edit"></span>

            <a id="postSave" class="glyphicon glyphicon-saved"
               style="float: right; padding-left: 15px;"></a>
        </span><br/><br/>

        <!-- create or update a article -->
        <form action="/admin/new_post" method="post" id="postForm" class="form-group">
            <input id="tags" name="tags" type="hidden">
            <input name="title" type="text" class="form-control" placeholder="Title"/><br/>
            <textarea id="demo" name="body"></textarea><br/>
        </form>
    </div>

</div>

<div class="modal fade" tabindex="-1" role="dialog" id="mymodal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">图片上传</h4>
            </div>
            <div class="modal-body">
                <div class="row" style="height: 400px">
                    <input id="file-Portrait" type="file">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

{{template "footer.html"}}

</body>

</html>
{{end}}