{{define "navigation.html"}}
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Wblog</a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li>
                    <a href="/index">博文</a>
                </li>
                <li>
                    <a href="/page/6">关于</a>
                </li>
                <li>
                    <a href="/rss" target="_blank">RSS</a>
                </li>
                <li>
                    <a href="/subscribe">订阅</a>
                </li>
            </ul>

            <ul class="pull-right nav navbar-nav">
                <ul class="nav navbar-nav">
                    {{if .user}}
                    <li><a href="/logout">退出登录</a></li>
                    {{else}}
                    <li><a href="/auth/github">Github登录</a></li>
                    {{end}}
                </ul>
            </ul>
        </div>
        <!-- /.navbar-collapse -->

        <div class="pull-right">

        </div>

    </div>
    <!-- /.container -->
</nav>
{{end}}